.projectPage {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
}

/* ---------- HEADER ---------- */

.projectPage-header {
  height: 35vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.projectPage-header h1 {
  font-size: 4rem;
  font-family: var(--primaryFont);
  color: var(--bg-secondary);
}

/* ---------- HOME ICON ---------- */

.home-icon {
  position: absolute;
  top: 25px;
  left: 25px;
  padding: 7px;
  border-radius: 50%;
  font-size: 2rem;
  cursor: pointer;

  color: var(--bg-secondary);

  box-shadow:
    3px 3px 6px #ffffff40,
    -3px -3px 6px #00000050;
  box-sizing: content-box;

  transition: all 0.3s ease;
}

.home-icon:hover {
  color: var(--text-color);
  transform: scale(1.1);
}

/* ---------- SEARCH ---------- */

.projectPage-container {
  padding: 3rem 2rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.projectPage-search {
  width: 100%;
  display: flex;
  justify-content: center;
}

.search-input {
  width: 40%;
  height: 2.75rem;
  border-radius: 20px;
  padding: 0.95rem 1rem;

  border: none;
  outline: none;

  font-family: "Noto Sans TC", sans-serif;
  font-weight: 500;
  font-size: 0.9rem;

  color: var(--text-color);
  background-color: var(--bg-secondary);

  box-shadow: var(--shadow-light);

  transition: all 0.3s ease;
}

.search-input::placeholder {
  color: var(--text-soft);
}

.search-input:focus {
  transform: scale(1.02);
}

/* ---------- PROJECT GRID ---------- */

.project-container {
  margin-top: 5rem;
  width: 100%;
}

.project-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 4rem;
}

/* ---------- RESPONSIVE ---------- */

@media screen and (max-width: 992px) {
  .projectPage-header {
    height: 25vh;
  }

  .project-grid {
    gap: 3rem;
  }

  .search-input {
    width: 350px;
  }
}

@media screen and (max-width: 702px) {
  .project-grid {
    gap: 1.5rem;
  }
}

@media screen and (max-width: 550px) {
  .projectPage-header h1 {
    font-size: 3rem;
  }
}

@media screen and (max-width: 400px) {
  .projectPage-header {
    height: 20vh;
  }

  .projectPage-header h1 {
    font-size: 2.5rem;
  }
}
